/* Define the color schema Bootstrap will use */
@import "config/colors";

/* Import Bootstrap */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

/* Theme Variables */
@import "config/variables";

/* General Styles */
@import "general/base";
@import "general/typography";

/* Structural Elements */
@import "structure/layout";
@import "structure/sidebar";
@import "structure/navigation";

/* Page Elements */
@import "elements/avatars";
@import "elements/breadcrumbs";
@import "elements/cards";
